/*NAvigation bars */


/*Logo bar*/

nav:nth-child(1) {
    position: fixed;
    padding: 5px;
    width: 100%;
    height: 60px;
}


/*Content bar*/

nav:nth-child(2) {
    position: fixed;
    padding: 16px;
    width: 60px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(206, 202, 202, 0.514);
}


/*logo styling*/

.imga {
    margin: 4px;
    padding: 5px;
    width: auto;
    height: 90px;
    position: absolute;
    filter: brightness(0.4);
    filter: saturate(12px);
    filter: drop-shadow(1px 2px 10px rgb(231, 206, 173));
}


/*logo hover*/

.imga:hover {
    position: absolute;
    width: auto;
    height: 120px;
    filter: drop-shadow(2px 2px 20px snow);
}


/*List of items in nav bar*/

.links {
    margin-left: -40px;
    margin-top: 40px;
    padding: 8px;
    font-size: 27px;
    font-style: oblique;
    color: rgb(0, 0, 0);
    letter-spacing: 0.1em;
    writing-mode: vertical-lr;
}


/*hover list items in nav bar*/

.links:hover {
    display: block;
    margin-left: -140px;
    padding-left: 12px;
    color: rgb(12, 4, 41);
    background-color: rgba(90, 90, 199, 0.596);
    writing-mode: horizontal-tb;
    transition: 0.9s;
}


/*front box +hover */

.mainpagebox1 {
    box-sizing: border-box;
    width: 100%;
    height: 60vh;
}

.mainpagebox1:hover {
    background-image: url(Img/all/main11.jpg);
    background-size: cover;
    margin-top: -10px;
    transition: 0.4s ease-in-out;
}


/*Content inside front name img etc */

.front {
    box-sizing: border-box;
    padding: 30px;
    padding-top: 140px;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 0, 0, 0.459);
}

.intro {
    font-size: 110px;
    font-weight: bolder;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 7px rgb(228, 125, 7);
    /* Warning: no fallback */
    background: -webkit-linear-gradient(top, rgb(244, 246, 248), rgb(5, 5, 250));
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
    color: rgb(1, 1, 22);
}


/*front box +hover */

.mainpagebox2 {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.mainpagebox2:hover {
    background-image: url(Img/all/main16.jpg);
    background-size: cover;
    margin-top: 20px;
    transition: 0.5s ease;
}

.mainpagebox2in {
    margin-bottom: 10px;
    padding: 30px;
    border: 1px solid black;
    background-color: rgba(193, 193, 243, 0.712);
    height: 360px;
    width: 76%;
    box-shadow: 2px 2px 50px rgb(12, 12, 12);
}

.mainpagebox2in {
    font-size: 50px;
    font-weight: bolder;
    font-style: oblique;
    color: rgb(3, 0, 8);
    letter-spacing: 0.07em;
}

.mid {
    padding: 25px;
    background-color: rgba(3, 0, 0, 0.459);
}

.gall {
    position: static;
    margin-top: -740px;
    margin-left: 1200px;
}

.gall {
    padding: 30px;
    font-size: 195px;
    font-weight: bold;
    font-style: oblique;
    writing-mode: vertical-lr;
    color: rgb(0, 0, 15);
    text-shadow: 2px 2px 5px snow;
    border: 1px groove rgb(10, 10, 10);
    text-align: center;
    background-color: rgba(39, 111, 173, 0.507);
}

.gall:hover .gall1 {
    display: block;
    writing-mode: horizontal-tb;
}

.gall1 {
    display: none;
    height: 700px;
    width: 1520px;
    margin-left: -1520px;
    background-color: rgba(245, 245, 245, 0.973);
}


/*gallery in gallery box */

.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    background-color: rgba(12, 7, 0, 0.404);
    height: 89vh;
}

.box {
    flex: 1;
    height: 96%;
    overflow: hidden;
    transition: .5s;
    margin: 1px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
}

.box>img {
    width: 200%;
    height: 90%;
    object-fit: cover;
    transition: .5s;
}

.box>span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 3vh;
    background-color: blueviolet;
    line-height: 2.6;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover>img {
    width: 100%;
    height: 90%;
}


/*hover buttons in boxes */

.cta {
    padding: 6px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    margin-left: -10px;
    margin-bottom: -73px;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: rgb(67, 67, 228);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #050416;
}

.cta svg {
    top: 0;
    margin-left: 10px;
    margin-top: 9px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #040620;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 110%;
    background: rgb(67, 67, 228);
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}


/*vision contents*/

.vissionside {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 80%;
    height: 80vh;
    margin-left: 140px;
    background-image: url(Img/all/main12.jpg);
    background-size: cover;
    box-shadow: 10px 10px 2px rgb(8, 5, 0), -10px -10px 2px rgb(27, 15, 1);
}

.contvision {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: rgba(218, 214, 214, 0.788);
}

.contvision {
    font-style: oblique;
    font-size: 23px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.pro {
    background-color: #020520;
    overflow-x: hidden;
}

figure {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

figure:nth-child(1) img {
    transform: scale(0.6) rotate(-12.5deg)
}

figure:nth-child(2) img {
    transform: scale(0.6) rotate(-9.72222deg)
}

figure:nth-child(3) img {
    transform: scale(0.6) rotate(-6.94deg)
}

figure:nth-child(4) img {
    transform: scale(0.6) rotate(-4.16deg)
}

figure:nth-child(5) img {
    transform: scale(0.6) rotate(-1.38deg)
}

figure:nth-child(6) img {
    transform: scale(0.6) rotate(-4.16deg)
}

figure:nth-child(7) img {
    transform: scale(0.6) rotate(-6.94deg)
}

figure:nth-child(8) img {
    transform: scale(0.6) rotate(-9.72deg)
}

figure img {
    width: 100vmin;
    height: 100vmin;
    border-radius: 3px;
}