        .main {
            background-color: rgba(0, 0, 0, 0.788);
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            overflow: hidden;
        }
        
        .square {
            position: relative;
            height: 40px;
            width: 250px;
            font-weight: bolder;
            font-size: 15px;
            color: snow;
            text-shadow: 2px 3px 10px rgba(255, 0, 0, 0.295), -2px -3px 10px rgba(255, 0, 0, 0.301);
        }
        
        .square:nth-child(1) {
            animation: mymove 8s infinite;
            transform: rotate(15.98deg);
        }
        
        .square:nth-child(2) {
            animation: mymove 5s infinite;
            transform: rotate(-21.98deg);
        }
        
        .square:nth-child(3) {
            animation: mymove 4s infinite;
            transform: rotate(-8.98deg);
        }
        
        .square:nth-child(4) {
            animation: mymove 7s infinite;
            transform: rotate();
        }
        
        .square:nth-child(5) {
            animation: mymove 6s infinite;
            transform: rotate(-13.98deg);
        }
        
        .square:nth-child(6) {
            animation: mymove 9s infinite;
            transform: rotate(3.98deg);
        }
        
        .square:nth-child(7) {
            animation: mymove 2s infinite;
            transform: rotate(5.98deg);
        }
        
        .square:nth-child(8) {
            animation: mymove 9s infinite;
            transform: rotate(10.98deg);
        }
        
        .square:nth-child(9) {
            animation: mymove 8s infinite;
            transform: rotate(3.98deg);
        }
        
        .square:nth-child(10) {
            animation: mymove 3s infinite;
            transform: rotate(-4.98deg);
        }
        
        .square:nth-child(11) {
            animation: mymove 2.3s infinite;
            transform: rotate(-10.98deg);
        }
        
        .square:nth-child(12) {
            animation: mymove 7s infinite;
            transform: rotate(10.98deg);
        }
        
        .square:nth-child(13) {
            animation: mymove 6s infinite;
            transform: rotate(0.98deg);
        }
        
        .square:nth-child(14) {
            animation: mymove 5s infinite;
            transform: rotate(40.98deg);
        }
        
        .square:nth-child(15) {
            animation: mymove 2s infinite;
            transform: rotate(-40.98deg);
        }
        
        @keyframes mymove {
            from {
                bottom: -150px;
            }
            to {
                bottom: 900px;
            }
        }
        /*NAvigation bars */
        /*Logo bar*/
        
        nav:nth-child(1) {
            position: fixed;
            padding: 5px;
            width: 100%;
            height: 60px;
        }
        /*Content bar*/
        
        nav:nth-child(2) {
            position: fixed;
            padding: 16px;
            width: 60px;
            height: 100vh;
            top: 0;
            right: 0;
            background-color: #1f537ecc;
        }
        /*logo styling*/
        
        .imga {
            margin: 4px;
            padding: 5px;
            width: auto;
            height: 90px;
            position: absolute;
            filter: brightness(0.4);
            filter: saturate(12px);
            filter: drop-shadow(1px 2px 10px rgba(0, 23, 99, 0.486));
        }
        /*logo hover*/
        
        .imga:hover {
            position: absolute;
            width: auto;
            height: 120px;
            filter: drop-shadow(2px 2px 20px rgba(1, 12, 61, 0.486));
        }
        /*List of items in nav bar*/
        
        .links {
            margin-left: -40px;
            margin-top: 40px;
            padding: 8px;
            font-size: 27px;
            font-style: oblique;
            color: #F8EFD6;
            letter-spacing: 0.1em;
            writing-mode: vertical-lr;
        }
        /*hover list items in nav bar*/
        
        .links:hover {
            display: block;
            margin-left: -140px;
            padding-left: 13px;
            color: whitesmoke;
            background-color: #005BEA;
            border-radius: 1px;
            writing-mode: horizontal-tb;
            transition: 0.9s;
        }
        /*front box +hover */
        
        .mainpagebox1 {
            box-sizing: border-box;
            width: 100%;
            height: 60vh;
            overflow: hidden;
        }
        /*Content inside front name img etc */
        
        .front {
            box-sizing: border-box;
            padding: 30px;
            padding-top: 140px;
            width: 100%;
            height: 100%;
            background-color: rgba(3, 0, 0, 0.459);
        }
        
        .intro {
            font-size: 110px;
            font-weight: bolder;
            letter-spacing: 0.1em;
            text-shadow: 2px 2px 7px rgb(22, 221, 22);
            /* Warning: no fallback */
            background: -webkit-linear-gradient(top, rgb(27, 28, 29), rgb(2, 2, 85));
            -webkit-background-clip: text;
            -webkit-text-stroke: 8px transparent;
            color: snow;
        }
        /*front box +hover */
        
        .mainpagebox2 {
            box-sizing: border-box;
            width: 100%;
            height: 100vh;
        }
        
        .mainpagebox2in {
            margin-bottom: 10px;
            padding: 30px;
            border: 2px solid rgb(209, 204, 204);
            background-color: rgba(0, 0, 0, 0.205);
            height: 360px;
            width: 76%;
            box-shadow: 2px 2px 2px rgb(0, 0, 17);
        }
        
        .mainpagebox2in {
            font-size: 50px;
            font-weight: bolder;
            font-style: oblique;
            color: snow;
            letter-spacing: 0.07em;
        }
        
        .mainpagebox2in:hover {
            background-color: rgba(4, 2, 36, 0.733);
            transform: scale(1.02) rotate(0.1deg);
            transition: 0.9s;
        }
        
        .mid {
            padding: 25px;
            background-color: rgba(3, 0, 0, 0.459);
        }
        
        .gall {
            position: static;
            margin-top: -740px;
            margin-left: 1200px;
        }
        
        .gall {
            padding: 30px;
            font-size: 195px;
            font-weight: bold;
            font-style: oblique;
            writing-mode: vertical-lr;
            color: whitesmoke;
            text-shadow: 4px 4px 10px black;
            border: 1px groove rgb(10, 10, 10);
            text-align: center;
            background-color: rgba(0, 0, 0, 0.397);
        }
        
        .gall:hover .gall1 {
            display: block;
            writing-mode: horizontal-tb;
            transform: scale(1.1) rotate(-.01deg);
        }
        
        .gall1 {
            overflow: hidden;
            display: none;
            height: 750px;
            width: 1520px;
            margin-left: -1520px;
            padding: 10px;
        }
        /*gallery in gallery box */
        
        .container {
            display: flex;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            background-color: rgb(12, 7, 0);
            height: 90%;
        }
        
        .box {
            flex: 1;
            width: 100%;
            height: 100%;
            overflow: hidden;
            transition: .5s;
            margin: 1px;
            box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
            line-height: 0;
        }
        
        .box>img {
            width: 200%;
            height: 90%;
            object-fit: cover;
            transition: .5s;
        }
        
        .box>span {
            font-size: 3.8vh;
            color: snow;
            display: block;
            text-align: center;
            height: 3vh;
            background-color: rgb(7, 97, 19);
            line-height: 2.6;
        }
        
        .box:hover {
            flex: 1 1 50%;
        }
        
        .box:hover>img {
            width: 100%;
            height: 90%;
        }
        /*hover buttons in boxes */
        
        .cta {
            padding: 6px 18px;
            transition: all 0.2s ease;
            border: none;
            background: none;
        }
        
        .cta:before {
            content: "";
            margin-left: -10px;
            margin-bottom: -73px;
            top: 0;
            left: 0;
            display: block;
            border-radius: 50px;
            background: rgb(4, 163, 17);
            width: 45px;
            height: 45px;
            transition: all 0.3s ease;
        }
        
        .cta span {
            font-family: "Ubuntu", sans-serif;
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: whitesmoke;
        }
        
        .cta svg {
            top: 0;
            margin-left: 10px;
            margin-top: 9px;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: green;
            stroke-width: 4;
            transform: translateX(-5px);
            transition: all 0.3s ease;
        }
        
        .cta:hover:before {
            width: 110%;
            background: green;
        }
        
        .cta:hover svg {
            stroke: rgb(0, 5, 8);
            transform: translateX(0);
        }
        
        .cta:active {
            transform: scale(1.95);
        }
        /*vision contents*/
        
        .vissionside {
            box-sizing: border-box;
            margin-top: 20px;
            margin-bottom: 5px;
            width: 80%;
            height: 80vh;
            margin-left: 140px;
            border: 4px groove snow;
            background-image: url(Img/all/m1.jpg);
            background-size: cover;
            box-shadow: 8px 8px 1px green, -8px -8px 1px green;
        }
        
        .contvision:hover {
            background-color: rgba(1, 3, 36, 0.575);
            box-shadow: 6px 6px 1px green, -6px -6px 1px green;
            border: 2px groove snow;
            border-bottom-left-radius: -200px;
            border-top-right-radius: -200px;
            border-top-left-radius: 100px;
            border-bottom-right-radius: 100px;
            transform: scale(1.1);
            transition: 0.9s ease;
        }
        
        .contvision {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 35px;
            background-color: rgba(7, 0, 0, 0.651);
        }
        
        .contvision {
            font-family: apple-system;
            font-size: 23px;
            font-weight: bolder;
            color: rgb(253, 252, 252);
        }
        
        .pro {
            position: sticky;
            padding-top: 30px;
            background-color: rgba(0, 0, 0, 0.13);
        }
        
        .spncl {
            font-size: 3.8vh;
            color: snow;
            display: block;
            text-align: center;
            height: 2vh;
            background-color: rgb(7, 97, 19);
            line-height: 2.6;
        }
        
        figure {
            display: flex;
            position: sticky;
            top: 0;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        
        figure:nth-child(1) img {
            transform: scale(0.6) rotate(-12.5deg)
        }
        
        figure:nth-child(2) img {
            transform: scale(0.6) rotate(-9.72222deg)
        }
        
        figure:nth-child(3) img {
            transform: scale(0.6) rotate(-6.94deg)
        }
        
        figure:nth-child(4) img {
            transform: scale(0.6) rotate(-4.16deg)
        }
        
        figure:nth-child(5) img {
            transform: scale(0.6) rotate(-1.38deg)
        }
        
        figure:nth-child(6) img {
            transform: scale(0.6) rotate(-4.16deg)
        }
        
        figure:nth-child(7) img {
            transform: scale(0.6) rotate(-6.94deg)
        }
        
        figure:nth-child(8) img {
            transform: scale(0.6) rotate(-9.72deg)
        }
        
        figure img {
            width: 100vmin;
            height: 100vmin;
            border-radius: 3px;
            border: 10px double gray;
        }
        
        .footbg {
            background-color: rgba(0, 0, 0, 0.11);
            width: 100%;
            height: 60vh;
            padding-top: 20px;
            overflow: hidden;
        }
        
        .footer {
            width: 100%;
            height: 30vh;
            padding: 30px;
            background-color: black;
        }
        
        .footercont {
            margin-left: 120px;
            background-color: gray;
            width: 80vw;
            height: 50vh;
            border: 1px solid rgba(0, 0, 255, 0.452);
            padding: 10px;
        }
        
        .footer :hover {
            background-image: url(/Img/);
        }
        /*About page styling */